@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (User.Identity.IsAuthenticated)
                {
                    <img style="height: 2rem; width: 2rem; border-radius: 50%;" src="~/img/account/@HttpContextAccessor.HttpContext.Session.GetString("profileImg")"/>
                }
                @User.Identity.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    @if (!User.IsInRole("Administrator"))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Carts" asp-action="Checkout">
                <i class="bi bi-cart-fill" style="font-size:1.8rem; line-height:0;"></i>
                <span class="badge" style=" position: relative; top: -14px; right: 18px; background-color:white; color:red; border: .1rem black solid;">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("cart") != null)
                    {
                        int total = 0;
                        foreach (Cart obj in Newtonsoft.Json.JsonConvert.DeserializeObject<List<Cart>>(HttpContextAccessor.HttpContext.Session.GetString("cart")))
                        {
                            total = total + obj.Quantity;
                        }
                        @(total);
                    }
                    else
                    {
                        @("0");
                    }
                </span>
            </a>
        </li>
    }
</ul>
