@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="program">
        <div class="program-intro">
            <h2>Program</h2>
            <div>
                <p>We have all programs from Georgian College.</p>
                <a asp-controller="CoursePrograms" asp-action="Index" class="btn btn-outline-light">VIEW</a>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="book-intro">
            <h2>Book</h2>
            <div>
                <p class="card-text">Go check what used books we have now.</p>
                <a asp-controller="Books" asp-action="Index" class="btn btn-outline-light">VIEW</a>
            </div>
        </div>
    </div>
</div>
