
<div class="container bg-white pt-3 pb-3 pl-5 pr-5 box-shadow" style="width: 60%; margin: 7rem auto; border-radius:.3rem;">
    <h1 style="text-align:center">Privacy</h1>
    <hr />
    <ul>
        <li>This website is for course purpose not bussiness use</li>
        <li>Owned by Yi-Tzeng Chen</li>
        <li>Course Instructor: Tom Marazzo</li>
        <li>Course Code: COMP 2084</li>
        <li><a href="https://www.linkedin.com/in/yi-tzeng-chen/" rel="external">My Linkedin</a></li>
    </ul>
    <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-dark ml-auto mr-auto" style="width: 40%">Go To Main</a>
</div>
