
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

    <div class="card" style=" background-color:white; width:30%; margin:10rem auto">
        <h5 class="card-header">Confirmation</h5>
        <div class="card-body">
            <h5 class="card-title">Total(CAD): @String.Format("{0:c}", ViewData["Total"])</h5>
            <p class="card-text">Click Next Below To Continue</p>
            <button class="btn btn-success btn-block" id="checkout-button">Next</button>
            <a asp-controller="Carts" asp-action="Checkout" class="btn btn-danger btn-block" >Back</a>
        </div>
    </div>
    <!--<div class="product">
        <div class="description">
            <h3>Your Toal</h3>
            <h5>-->@*@String.Format("{0:c}", ViewData["Total"])*@<!--$123</h5>
        </div>
    </div>
    <button type="button" id="checkout-button">Next</button>-->

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("@ViewData["PublishableKey"]");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
        fetch("/Carts/ProcessPayment", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>